//
//  Development.xcconfig
//  {{cookiecutter.app_name}}
//
//  Copyright © {{cookiecutter.company_name}}. All rights reserved.
//

#include "Common.xcconfig"

// App Settings
APP_NAME = {{cookiecutter.app_name}} (dev)
APP_URL_SCHEME = {{cookiecutter.app_scheme}}-dev
APP_BUNDLE_ID = {{cookiecutter.bundle_id}}.dev

// Networking
SERVER_URL = my-dev-server-url.io
