//
//  Production.xcconfig
//  {{cookiecutter.app_name}}
//
//  Copyright © {{cookiecutter.company_name}}. All rights reserved.
//

#include "Common.xcconfig"

// App Settings
APP_NAME = {{cookiecutter.app_name}}
APP_URL_SCHEME = {{cookiecutter.app_scheme}}
APP_BUNDLE_ID = {{cookiecutter.bundle_id}}

// Networking
SERVER_URL = my-prod-server-url.io
